ul{
    text-align: center;
    display: inline-flex;
  list-style: none;
  color: #69e9cf;
  }
  ul, li{
    list-style: none;
    margin:0 20px;
  }
  header{
  background-color: #ffffff;
  }
  a{
      text-decoration: none;
      
  }
  